graphs {
  graph_id: 1020625526
  priority: 0

  engines {
    id: 448
    engine_name: "object_detection"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libobject_detection.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../../../HIAI_DATANDMODELSET/ascend_workspace/vgg_ssd.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 117
    engine_name: "car_type_inference"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libcar_type_inference.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../../../HIAI_DATANDMODELSET/ascend_workspace/car_type.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "10"
      }
    }
  }

  engines {
    id: 551
    engine_name: "car_color_inference"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libcar_color_inference.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../../../HIAI_DATANDMODELSET/ascend_workspace/car_color.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "10"
      }
    }
  }

  engines {
    id: 388
    engine_name: "video_decode"
    side: HOST
    thread_num: 1
    so_name: "./libvideo_decode.so"
    ai_config {

      items {
        name: "channel1"
        value: "${template_channel1}"
      }

      items {
        name: "channel2"
        value: "${template_channel2}"
      }
    }
  }

  engines {
    id: 777
    engine_name: "car_plate_detection"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libcar_plate_detection.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../../../HIAI_DATANDMODELSET/ascend_workspace/car_plate_detection.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 278
    engine_name: "car_plate_recognition"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libcar_plate_recognition.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../../../HIAI_DATANDMODELSET/ascend_workspace/car_plate_recognition.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 387
    engine_name: "video_analysis_post"
    side: HOST
    thread_num: 1
    so_name: "./libvideo_analysis_post.so"
    ai_config {

      items {
        name: "output_name"
        value: "prob"
      }

      items {
        name: "output_settings"
        value: ""
      }

      items {
        name: "presenter_server_ip"
        value: "${template_presenter_ip}"
      }

      items {
        name: "presenter_server_port"
        value: "${template_presenter_port}"
      }

      items {
        name: "app_name"
        value: "${template_app_name}"
      }
    }
  }

  engines {
    id: 633
    engine_name: "object_detection_post"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libobject_detection_post.so"
    ai_config {

      items {
        name: "output_name"
        value: "prob"
      }

      items {
        name: "Confidence"
        value: "0.9"
      }
    }
  }

  connects {
    src_engine_id: 388
    src_port_id: 0
    target_engine_id: 448
    target_port_id: 0
  }

  connects {
    src_engine_id: 777
    src_port_id: 0
    target_engine_id: 278
    target_port_id: 0
  }

  connects {
    src_engine_id: 278
    src_port_id: 0
    target_engine_id: 387
    target_port_id: 3
  }

  connects {
    src_engine_id: 117
    src_port_id: 0
    target_engine_id: 387
    target_port_id: 1
  }

  connects {
    src_engine_id: 551
    src_port_id: 0
    target_engine_id: 387
    target_port_id: 2
  }

  connects {
    src_engine_id: 448
    src_port_id: 0
    target_engine_id: 633
    target_port_id: 0
  }

  connects {
    src_engine_id: 633
    src_port_id: 0
    target_engine_id: 387
    target_port_id: 0
  }

  connects {
    src_engine_id: 633
    src_port_id: 1
    target_engine_id: 117
    target_port_id: 0
  }

  connects {
    src_engine_id: 633
    src_port_id: 2
    target_engine_id: 551
    target_port_id: 0
  }

  connects {
    src_engine_id: 633
    src_port_id: 3
    target_engine_id: 777
    target_port_id: 0
  }
}			
